body {
    background: #202455;
}

#start-wrap {
    width: calc(100% - 80px);
    padding: 40px;
}
.welcome-text {
    font-size: 24px;
    color: #fff;
    opacity: 0.75;
    background: transparent;
    margin:40px 0 60px 0;
}

.event-title {
    background: transparent;
    color: #fff;
    font-weight: 900;
    font-size: 51px;
    opacity: 1;
    margin: 0 0 60px 0;
}

.button {
    background: #ffcd5d;
}

.mail {
    height: 26px;
    width:220px;
    border-radius:3px;
}